[Unit]
Description=DHCPD docker compose startup.
Requires=docker.service

Wants=docker.service
After=docker.service

Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=15

#WorkingDirectory=/home/con-srv/LA-disk0/repository/docker-dhcpd-composed
WorkingDirectory=/home/con-srv/spixconv-dhcp/docker-dhcpd-composed
#WorkingDirectory=/home/con-srv/repository/docker-dhcpd-composed

# Compose up
#ExecStart=/usr/local/bin/docker-compose up
ExecStart=/usr/bin/docker-compose up
#ExecStart=docker-compose up

# Compose down, remove containers and volumes
#ExecStop=/usr/local/bin/docker-compose down
ExecStop=/usr/bin/docker-compose down
#ExecStop=docker-compose down

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
